.category-header {
    background-image: linear-gradient(91deg, #282562, #ee2761);
    height: 100px;
    text-align: left;
    padding: 15px;
}

.category-title {
    font-size: 2rem;
    color: #fff;
}


.menu-navigator {
    width: 65px;
    margin-right: 5px;
}

.menu-navigator a{
    font-size: 0.875rem;
}

.menu-dropdown-list .parent-menu {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.menu-left .parent-menu {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.parent-menu a {
    color: #282562;
}


.child-menu a {
    color: #6a6f72;
}

.product-card {
    width: 30%;
    margin-bottom: 3rem; 
}

.product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    color: #0a0918;
    font-weight: bold;
    padding: 0 0.5em;
    cursor: pointer;
}

@media (max-width: 767.98px) { 
    .category-title {
        margin: 0;
        font-size: 1.375rem;
    }

    .product-card {
        width: 45%;
    }
    
}

@media (max-width: 991.98px) { 
    .site-breadcrumb {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-dropdown {
        padding-left: 15px;
        padding-right: 15px;
    }
}
