.category {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.category-header {
    font-size: 2rem;
    margin-bottom: 1.15em;
    color: rgba(0,0,0,.7);
}

.category-list {
    justify-content: flex-start;
}

.category-list .card {
    width: 23%;
    margin-bottom: 0.75rem;
}

.card {
    display: inline-block;
    margin: 5px;
    position: relative;
    text-align: left;
    vertical-align: top;
    white-space: normal;
}

.card-content {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    height: 100%;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

.cover {
    height: calc(100%-40px);
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cover-image:hover {
    background: #c2c2c2;
}

.cover-image div{
    padding: 2rem;
}

@media (max-width: 767.98px) { 

    .category-list {
        justify-content: space-around;
    }

    .category-list .card {
        width: 45%;
    }

    .cover-image div{
        padding: 1.5rem;
    }
    
} 

