body {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

a {
    color: #0a0918;
}

a:hover {
    color: #ff6600;
    text-decoration: none;
}

ul {
    padding-inline-start: 0px;
}

.color-up {
    color: #ff6600;
}

.color-middle {
    color: #ff9400;
}

.color-down {
    color: #ffc600;
}

.btn-middle {
    color: #fff;
    background-color: #ff9400;
    border-color: #ff9400;
}

.btn-up {
    color: #fff;
    background-color: #ff6600;
    border-color: #ff6600;
}

.btn-down {
    color: #fff;
    background-color: #ffc600;
    border-color: #ffc600;
}

.card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: none;
}

.pointer {
    cursor: pointer;
}

.site-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.ellipsis {
    text-overflow: ellipsis;
}

.btn:focus, .form-control:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    border-radius: 2px;
}

.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.search-bar {
    border-radius: 2px;
    width: 350px;
    max-width: 100%;
}

.nav-link {
    color: #0a0918;
}

.nav-link:hover {
    color: #ff6600!important;
}


main {
    min-height: 700px;
}

footer {
    background-color: #f2f2f2;
}

.footer-menu {
    list-style: none;
    padding-inline-start: 0px;
}

.footer-menu li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 575.98px) {

}


@media (min-width: 576px) and (max-width: 767.98px) {

}


@media (min-width: 768px) and (max-width: 991.98px) {  }

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container-fluid, .navbar  {
        padding-right: 1.75rem;
        padding-left: 1.75rem;
    }

    .site-wrapper {
        max-width: 900px;
    }
}

@media (min-width: 1200px) { 
    .container-fluid, .navbar  {
        padding-right: 3.75rem;
        padding-left: 3.75rem;
    }

    .site-wrapper {
        max-width: 1140px;
    }
 }

