.item-thumb {
    display: flex;
    flex-direction: column;
}

.item-thumb img {
    width: 100%;
}

.item-detail {
    width: 90%;
}

.product-img-wrap {
    border: 1px solid #edeff3;
    border-radius: 2px;
    width: 4.667rem;
    height: 3.333rem;
    position: relative;
    background-color: #fff;
    text-align: center;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    overflow: hidden;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.product-img-wrap img{
    position: absolute;
    max-height: 5.333rem;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
}

.product-color-list-item {
    margin-top: 0.5rem;
    height: 30px;
    width: 30px;
    padding: 0.1rem;
    border-radius: 50%;
    border: solid 1px #e2e2e2;
    margin-right: 0.5rem;
    cursor: pointer;
}

.product-color-block {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.product-color-list-item.active {
    box-shadow: 0 0 0.5px 1px rgba(57,172,230,0.05);
    background-color: #f2feff;
    opacity: 1;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    border: solid 1px #ee2761;
}

.shipinfo-contents {
    font-size: 0.9rem;
}

.product-card {
    margin-bottom: 2em;
    margin-top: 2em;
    cursor: pointer;
    padding: 0 1rem;
}

.product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    color: #0a0918;
    padding: 0 0.5em;
    cursor: pointer;
    font-size: 0.9rem;
}

.table-order td{
    padding: 0.2rem;
}

.btn-add-card {
    width: 250px;
}

@media (max-width: 767.98px) { 
    .product-card {
        width: 45%;
        padding: 0rem;
    }
    .btn-add-card {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) { 
    .product-card {
        width: 30%;
    }
}

@media (min-width: 1200px) { 
    .product-card {
        width: 23%;
        padding: 0 2rem;
    }
}
